<h2><%= link_to @linqe.title, @linqe.url, target: "_blank" %></h2>

<br>
<textarea rows="15" cols="60">
  <%= @linqe.description %>
</textarea>

<div> <%= button_to "Edit this Linqe", edit_linqe_path, method: :get, class:"btn btn-secondary btn-sm"%></div>

