/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}


div#comment-history {
  display: block;
  float: left;
}




input#linqe_title {
  width: 300px;
}

input#linqe_url {
  width: 300px;
}

.btn,
.btn:focus,
.btn:active,
.btn.active, {
  color: #999;
  background-color: #FFD483;
  border-color: #FFD483;

  &:hover {
    color: #282828;
    background-color: #FFAB83;
    border-color: #FFAB83;
  }
}


.navbar-inverse .navbar-nav > li > a {
  font-weight: bold;
  color: #222 ;
  background-color: #FFD483;
  line-height: 12px;
  border-radius: 0 0 4% 4%;

  &:hover {
    font-weight: bold;
    color: #fff;
    background-color: #FFAB83;
  }
}


